@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Impact";

  font-display: swap;
  src:
    url("../fonts/impact.woff2") format("woff2"),
    url("../fonts/impact.woff") format("woff");
}
