mixin playground()
  section.playground
    .container
      .playground__inner
        h1.visually-hidden Royal Coins
        .playground__bg
          +picture("content", "main-bg", "jpg", "800", "360", "")
        .playground__header
          +round-btn({icon: "icon-arrow-back", iconWidth: "11", iconHeight: "19"})
          .playground__stats.playground__stars
            img(src=`/img/svg/icon-star.svg`, width="48", height="50", alt="")
            span.playground__stars-number 0/9000
          .playground__stats.playground__coins
            img(src=`/img/svg/icon-coins.svg`, width="39", height="27", alt="")
            span.playground__coins-number 1000000
        .playground__main
          +slot()
        .playground__footer
          +bets().playground__bets
          .playground__winning
            span.playground__winning-text
              span win
              span win
            span.playground__winning-summ 0,000
          .playground__controls
            +btn({text: "auto"}).playground__auto-btn
            +btn({text: "spin"}).btn--green.playground__spin-btn
