mixin slot()
  -
    const images = [
      {
        src: "slot-01",
        width: "105",
        height: "65",
      },
      {
        src: "slot-02",
        width: "105",
        height: "65",
      },
      {
        src: "slot-03",
        width: "105",
        height: "65",
      },
      {
        src: "slot-04",
        width: "112",
        height: "59",
      },
      {
        src: "slot-05",
        width: "112",
        height: "59",
      },
      {
        src: "slot-06",
        width: "112",
        height: "59",
      },
      {
        src: "slot-07",
        width: "105",
        height: "68",
      },
      {
        src: "slot-08",
        width: "105",
        height: "68",
      },
      {
        src: "slot-09",
        width: "105",
        height: "68",
      },
    ];

  .slot&attributes(attributes)
    .slot__inner
      - for (let i = 0; i < 3; ++i)
          .slot__column
            each image in images
              .slot__cell
                +picture("content/slot", image.src, "png", image.width, image.height, "")
