mixin round-btn(options)
  - const {icon = false, iconWidth, iconHeight} = options;

  button.round-btn&attributes(attributes)
    if (icon)
      img(src=`img/svg/${icon}.svg`, width=iconWidth, height=iconHeight, alt="")
