.btn {
  position: relative;
  display: inline-flex;
  padding: 11px 27px;
  overflow: hidden;

  color: $color-transparent;

  background-color: $color-transparent;
  border: 1px solid $color-deep-sky-blue-2;
  border-radius: 11px;

  box-shadow:
    0px 4px 4px 0px rgba($color-harlequin, 0.271),
    0px 4px 4px 0px rgba($color-lemon-chiffon, 0.651)
    0px -6px 4px 0px rgba($color-deep-sky-blue-2, 0.26) inset;

  transition: box-shadow $trans-default;

  cursor: pointer;
  user-select: none;

  &__text {
    position: relative;

    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;

    span:nth-child(1) {
      position: relative;

      color: $color-transparent;

      background-image: linear-gradient(180deg, $color-default-white 0%, $color-deep-sky-blue 100%);
      background-clip: text;

      z-index: 2;
    }

    span:nth-child(2) {
      position: absolute;
      left: 0;
      top: 0;
      text-shadow:
        -1px 0px $color-fun-blue,
        1px 0px $color-fun-blue,
        0 -1px $color-fun-blue,
        0px 1px $color-fun-blue,
        -1px -1px $color-fun-blue,
        1px 1px $color-fun-blue,
        1px -1px $color-fun-blue,
        -1px 1px $color-fun-blue;

      z-index: 1;
    }
  }

  &::before {
    position: absolute;
    left: -100%;
    top: -100%;
    width: 300%;
    height: 300%;
    border-radius: 11px;

    background-image: linear-gradient(180deg, $color-electric-purple-2 30%, $color-dark-cerulean 70%);

    transition: transform $trans-out;

    z-index: 0;

    content: "";
  }

  &--green {
    border: 1px solid $color-selective-yellow;
    box-shadow:
      0 4px 4px 0 rgba($color-harlequin, 0.27),
      0 4px 4px 0 rgba($color-lemon-chiffon, 0.65) inset,
      0 -6px 4px 0 rgba($color-free-speech-green, 0.26) inset;

    .btn__text {
      span:nth-child(1) {
        position: relative;

        color: $color-transparent;

        background-image: linear-gradient(180deg, $color-default-white 0%, $color-bright-green 100%);
        background-clip: text;

        z-index: 2;
      }

      span:nth-child(2) {
        position: absolute;
        left: 0;
        top: 0;
        text-shadow:
          -1px 0px $color-kelly-green,
          1px 0px $color-kelly-green,
          0 -1px $color-kelly-green,
          0px 1px $color-kelly-green,
          -1px -1px $color-kelly-green,
          1px 1px $color-kelly-green,
          1px -1px $color-kelly-green,
          -1px 1px $color-kelly-green;

        z-index: 1;
      }
    }

    &::before {
      background-image: linear-gradient(180deg, $color-bright-green 0%, $color-green 100%);
    }
  }

  @include hover-focus {
    &::before {
      transform: rotate(180deg);
    }
  }

  @include active {
    &::before {
      transition: none;
      transform: rotate(180deg) scaleY(2);
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
