.slot {
  width: 412px;
  height: 240px;
  margin: 4px auto;
  padding: 8px 21px;

  border-radius: 20px;
  border: 1px solid $color-golden-yellow;
  background: rgba($color-blackcurrant-3, 0.73);

  overflow: hidden;

  &__inner {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 0;
  }

  &__column {
  }

  &__cell {
  }
}
