.slot {
  width: min-content;
  height: 240px;
  margin: 4px auto;
  padding: 8px 21px;
  overflow: hidden;

  border-radius: 20px;
  border: 1px solid $color-golden-yellow;
  background: rgba($color-blackcurrant-3, 0.73);

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 17px;

    height: 100%;
    // overflow: hidden;

    @include vp-767 {
      gap: 10px 7px;
    }
  }

  &__column {
    grid-row: 1 / 4;
    position: relative;
    display: grid;
    gap: 10px 0;
    width: 112px;
    height: 100%;
    // overflow: hidden;

    &:nth-child(2) .slot__cell img {
      margin: 0 auto;
    }

    &:nth-child(3) .slot__cell img {
      margin: 0 0 0 auto;
    }

    @include vp-1024 {
      width: 184px;
    }

    @include vp-767 {
      width: 90px;
    }
  }

  &__cell {
    position: absolute;
    left: 0;
    top: 0;
    width: 112px;
    height: 68px;
    text-align: left;

    transition: transform 0.2s ease;

    img {
      margin: 0 auto 0 0;
    }

    &--size-small img {
      width: 105px;
      height: 65px;

      @include vp-1024 {
        width: 173px;
        height: 107px;
      }

      @include vp-767 {
        width: 84px;
        height: 52px;
      }
    }

    &--size-middle img {
      width: 105px;
      height: 68px;

      @include vp-1024 {
        width: 173px;
        height: 112px;
      }

      @include vp-767 {
        width: 84px;
        height: 55px;
      }
    }

    &--size-big img {
      width: 112px;
      height: 59px;

      @include vp-1024 {
        width: 184px;
        height: 97px;
      }

      @include vp-767 {
        width: 90px;
        height: 47px;
      }
    }

    @include vp-1024 {
      width: 184px;
      height: 112px;
    }

    @include vp-767 {
      width: 90px;
      height: 55px;
    }
  }

  @include vp-1024 {
    height: 372px;
  }

  @include vp-767 {
    max-width: 300px;
    height: 201px;
    padding: 8px 7px;
  }
}
