.btn {
  position: relative;
  display: inline-flex;
  padding: 11px 27px;
  overflow: hidden;

  color: $color-transparent;

  background-color: $color-transparent;
  border: 1px solid $color-deep-sky-blue-2;
  border-radius: 11px;

  box-shadow:
    0 4px 4px 0 rgba($color-harlequin, 0.27),
    0 4px 4px 0 rgba($color-lemon-chiffon, 0.65) inset,
    0 -6px 4px 0 rgba($color-deep-sky-blue-2, 0.26) inset;

  cursor: pointer;
  user-select: none;

  &__text {
    position: relative;

    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;

    span:nth-child(1) {
      position: relative;

      color: $color-transparent;

      background-image: linear-gradient(180deg, $color-default-white 0%, $color-deep-sky-blue 100%);
      background-clip: text;

      z-index: 2;
    }

    span:nth-child(2) {
      position: absolute;
      left: 0;
      top: 0;
      text-shadow:
        -1px 0 $color-fun-blue,
        1px 0 $color-fun-blue,
        0 -1px $color-fun-blue,
        0 1px $color-fun-blue,
        -1px -1px $color-fun-blue,
        1px 1px $color-fun-blue,
        1px -1px $color-fun-blue,
        -1px 1px $color-fun-blue;

      z-index: 1;
    }

    @include vp-1024 {
      font-size: 32px;
    }
  }

  &::before {
    position: absolute;
    left: -2%;
    top: 0;
    width: 104%;
    height: 100%;
    border-radius: 11px;

    background-image: linear-gradient(180deg, $color-electric-purple-2 0%, $color-dark-cerulean 100%);
    box-shadow: 0 3px 5px 2px rgba($color-default-white, 0.5) inset;

    transition: box-shadow $trans-out;

    z-index: 0;

    content: "";

    @include vp-1024 {
      border-radius: 14px;
    }
  }

  @include hover-focus {
    &::before {
      box-shadow: none;
    }
  }

  @include focus {
    outline: none;
  }

  @include active {
    box-shadow: 0 0 0 1px rgba($color-blackcurrant, 0.3);
    transform: scale(0.98);
    border-color: rgba($color-deep-sky-blue-2, 0.8);

    @include vp-1024 {
      box-shadow: 0 0 0 2px rgba($color-blackcurrant, 0.3);
      transform: scale(0.94);
    }
  }

  &--green {
    border: 1px solid $color-selective-yellow;
    box-shadow:
      0 4px 4px 0 rgba($color-harlequin, 0.27),
      0 4px 4px 0 rgba($color-lemon-chiffon, 0.65) inset,
      0 -6px 4px 0 rgba($color-free-speech-green, 0.26) inset;

    .btn__text {
      span:nth-child(1) {
        position: relative;

        color: $color-transparent;

        background-image: linear-gradient(180deg, $color-default-white 0%, $color-bright-green 100%);
        background-clip: text;

        z-index: 2;
      }

      span:nth-child(2) {
        position: absolute;
        left: 0;
        top: 0;
        text-shadow:
          -1px 0 $color-kelly-green,
          1px 0 $color-kelly-green,
          0 -1px $color-kelly-green,
          0 1px $color-kelly-green,
          -1px -1px $color-kelly-green,
          1px 1px $color-kelly-green,
          1px -1px $color-kelly-green,
          -1px 1px $color-kelly-green;

        z-index: 1;
      }
    }

    &::before {
      background-image: linear-gradient(180deg, $color-bright-green 0%, $color-green 100%);
    }

    @include active {
      border-color: rgba($color-selective-yellow, 0.8);
    }

    @include vp-1024 {
      box-shadow:
        0 6px 6px 0 rgba($color-harlequin, 0.27),
        0 6px 6px 0 rgba($color-lemon-chiffon, 0.65) inset,
        0 -9px 6px 0 rgba($color-free-speech-green, 0.26) inset;
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include vp-1024 {
    border-radius: 14px;
    border-width: 2px;

    box-shadow:
      0 6px 6px 0 rgba($color-harlequin, 0.27),
      0 6px 6px 0 rgba($color-lemon-chiffon, 0.65) inset,
      0 -9px 6px 0 rgba($color-deep-sky-blue-2, 0.26) inset;
  }

  @include vp-767 {
    padding: 7px 15px;
  }
}
