extends ../components/base/layout

block variables
  - const title = "Gold Rush - Royal Coins"
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "index.html"

block main
  main
    +playground()

block modals
